.mdl-layout{
  min-width: 320px;
}
.header-color {
  background: #009fff;
  background: -webkit-linear-gradient(to left, #ec2f4b, #009fff);
  background: linear-gradient(to left, #ec2f4b, #009fff);
}

a {
  text-decoration: none;
}

.landing-grid {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .landing-grid {
    background: #009fff;
    background: -webkit-linear-gradient(to left, #ec2f4b, #009fff);
    background: linear-gradient(to left, #ec2f4b, #009fff);
  }
  .videoTag {
    display: none;
  }
}

.avatar-image {
  margin-top: 5em;
  height: 300px;
  /* border-bottom: 1px solid white; */
  border-radius: 45%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.sacial-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

@media only screen and (max-width: 550px) {
  .landing-grid {
    height: auto;
  }
  .banner-text h1 {
    font-size: 35px;
  }
  .sacial-links {
    width: 50%;
  }
  .avatar-image {
    height: 150px;
    margin-top: 2em;
  }
  .banner-text {
    width: 90%;
  }
}

.sacial-links .fa-linkedin-square {
  color: #0066ff;
  font-size: 5em;
}
.sacial-links i {
  color: white;
  font-size: 5em;
}

/* ///////////////////////////////////////////////////////////////// */
/* Project Item */
@media only screen and (max-width: 600px) {
  .project-items {
    flex-direction: column;
  }
  .project-items > div {
    margin: 5px;
  }
}

.project-items a {
  color: blue;
}

.bg-image1 {
  background-image: url(./img/project1.png);
  background-position: center;
  background-size: cover;
}
.bg-image2 {
  background-image: url(./img/project2.png);
  background-position: center;
  background-size: cover;
}
.bg-image3 {
  background-image: url(./img/project3.png);
  background-position: center;
  background-size: cover;
}
.bg-image4 {
  background-image: url(./img/project4.png);
  background-position: center;
  background-size: cover;
}
.bg-image5 {
  background-image: url(./img/project5.png);
  background-position: center;
  background-size: cover;
}
.bg-image6 {
  background-image: url(./img/project6.png);
  background-position: center;
  background-size: cover;
}

/* ////////////////////////////////////////////////////////// */
/* Contact                                                   */

.contact-body {
  text-align: center;
  margin: auto;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: auto;
  background: white;
  color: black;
  border-top: 6px solid lightsalmon;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Suez One", serif;
}
.contact-grid p {
  font-family: "Arvo", serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list {
  text-align: center;
}

.contact-list i {
  font-size: 45px;
  padding-right: 5rem;
}

@media only screen and (max-width: 1039px) {
  .contact-list i {
    font-size: 35px;
    padding-right: 2rem;
  }
  .listItemContent span {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 839px) {
  .contact-list i {
    font-size: 30px;
    padding-right: 2rem;
  }
  .listItemContent span {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 720px) {
  .contact-list i {
    font-size: 30px;
    padding-right: 1.5rem;
  }
  .listItemContent span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 590px) {
  .contact-list i {
    font-size: 25px;
    padding-right: 1rem;
  }
  .listItemContent span {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .contact-list i {
    font-size: 20px;
    padding-right: 0.7rem;
  }
  .listItemContent span {
    font-size: 0.7rem;
  }
}

/* //////////////////////////////////////////////////////// */
/*     Resume page Css                                     */

/* Left part */

.resume-left-div {
  text-align: center;
}
.resume-avatar {
  height: 200px;
}
.resume-fullname {
  padding-top: 2em;
}
.resume-hr {
  border-top: 3px solid blue;
  width: 50%;
}

/* Right part */

.resume-right-col {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 2em;
  border-radius: 40px;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.schoolname {
  margin: 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.skill-container {
  width: 100%;
}
